# docker version: "3.9"

services:
  # PostgreSQL
  postgres:
    image: postgres:16
    container_name: chat-system-postgres
    restart: always
    environment:
      POSTGRES_USER: chat-user
      POSTGRES_PASSWORD: chat-password
      POSTGRES_DB: chat-db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d chat"]
      interval: 5s
      timeout: 5s
      retries: 5


  # Redis
  redis:
    image: redis:7
    container_name: chat-system-redis
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "PING"]
      interval: 5s
      timeout: 5s
      retries: 5

# Volumes
volumes:
  pgdata:
  redis_data:
